/* Custom styles added to demo */

* {
  --theme: #000000;
  --entry: #1B1B1B;
}

.entry-content a {
  font-weight: 600;
  border-bottom: 1px solid var(--primary);
}

.post-content a {
  font-weight: 600;
}

strong {
  color: var(--primary);
}

.paginav {
  background: var(--entry);
}

.share-buttons {
  background: var(--entry);
}

/*Def config below*/
.twitter-tweet {
    margin: auto;
}

iframe {
    border-radius: var(--radius) !important;
}

.home-info ul {
    padding-inline-start: 20px;
}

.entry-cover img {
    border: 1px solid var(--border);
}
