/* Custom styles added to demo */

/* .dark body { */
/*   background-color: #000000 */
/* } */

.dark {
  --theme: #000000;
}

.entry-content a {
  /* color: var(--secondary); */
  font-weight: bold;
  /* text-decoration: underline; */
  border-bottom: 1px solid;
}

strong {
  color: #ffffff;
}

.twitter-tweet {
    margin: auto;
}

iframe {
    border-radius: var(--radius) !important;
}

.home-info ul {
    padding-inline-start: 20px;
}

.entry-cover img {
    border: 1px solid var(--border);
}
